@media (max-width: 1024px)
  .daily_title
    padding-left 0
    
  .filter_options
  .options
    width 100%
    margin 0 0 20px 0

    & + .options
      margin 0 0 20px 0

  .movie
  .filter_subscribe
    width 100%
    margin 0 0 20px 0

  .daily_movies
    margin 0

  .subscribe_submit
    position relative
