@media (max-width: 780px)
  .sidebar_fix
    height 100%
    overflow hidden

  .movies
    width 100%
    float none

  .filter_trigger
    display block
    width 50px
    height 50px
    text-align center

  .filter
    overflow-y auto
    padding-left 35px
    padding-right 35px
    padding-bottom 75px
    width 320px
    padding-top 35px
    height 100vh
    background #2c3e50
    position fixed
    right -320px
    top 50px
    box-shadow -2px 0px 2px #212f3d

  .filter_open

    .filter
      right 0

  .filters
    position relative

  .options
    border none

  .option_title
    text-align left
    background-color transparent

  .option_items
    padding 0
