@media (max-width: 1281px) and (min-width: 1280px)
  .wrap
    margin 0 0 auto

  .filters
    margin-left 950px
    width 280px

  .subscribe_form
    position absolute

  .subscribe_submit
    position absolute
    right 5px
