@media (min-width: 1280px)
  .filter_trigger
    display none

  .filter
    padding 0

  .filter.hide
    display block

  .filters
    margin-top 20px
    position absolute
    width 300px
    margin-left 970px
    height 100%

  .filters.fixed
    position fixed
    top 0
    margin-top 0
    padding-top 20px

  .filter_options
    margin-right 0

  .filter_options
  .options
  .filter_subscribe
    width 100%

  .options
    margin-bottom 20px

    & + .options
      margin-left 0px

  .subscribe_title
    display none

  .options_title
    font-size 16px
    color #d5d8dc

  .subscribe_desc
    font-size 16px

  .sub_email
    height 40px
    font-size 16px
    padding 0 15px
    margin-bottom 0
    font-weight 400

  .sub_form
    display flex

  .sub_submit
    font-size 12px
    border none
    padding 0 10px

  .options
    position relative
    padding-top 5px

  .option_title
    background-color transparent
    background-color #2c3e50
    text-align left
    padding 0 10px
    height auto
    display inline-block
    position absolute
    top -20px
    left 10px
    font-size 14px

  .options
    border-radius 0 3px 3px 0
    border-width: 2px
