@media (max-width: 480px)
  .movie
    padding 20px 0 0

  .movie_title
    overflow visible
    white-space normal
    line-height 1.25

  .movie_content
    flex-direction column
    align-items center

  .movie_poster
    margin 0 0 10px

  .movie_updates
    margin-top 0
    text-align center
    flex-flow column

  .movie_update
    margin 10px 0
    display inline-block

  .movie_info
    margin 10px auto 0
    display block

  .movie_desc
    text-align center
    padding 0 20px 20px 20px

  .movie_information
    display flex
    flex-wrap wrap
    justify-content center


    span
    span + span
      border-right none
      margin 5px
      padding 5px 10px
      background-color #2c3e50
