@media (max-width: 640px)
  .movie_modal
    .btn
      text-align center
      display block

    .movie_information
      font-size 12px
      text-align center

      span
        white-space nowrap

    .movie_content
      flex-flow column

    .movie_poster_big
      margin 0 auto 20px

    .movie_title
      text-align center
      margin-bottom 20px
      padding-bottom 0

    .movie_details_table
      width 100%

    .movie_details
      padding-left 0
