@media (max-width: 640px)
  .movie_modal
    .movie_content
      flex-flow column

    .movie_poster_big
      margin 0 auto 20px

    .movie_title
      text-align center
      margin-bottom 20px
      padding-bottom 0

    .movie_details_table
      width 100%
