.checkbox
  display none

  + label
    cursor pointer

    &:before
      display inline-block
      vertical-align sub
      content ''
      width 20px
      height 20px
      border-radius 2px
      background-color #17202A
      background-image url(/public/img/check.svg)
      background-repeat no-repeat
      background-size 16px
      background-position -100px
      margin-right 10px
      background-size 16px

  &:checked + label::before
    background-color red
    background-position center
