.daily_title
  font-family Raleway
  font-size 20px
  font-weight 400
  margin-bottom 18px
  line-height 1.25
  overflow hidden
  clear both
  padding-top 20px
  padding-left 10px

.movies
  overflow hidden
