.filters
  overflow hidden
  clear both

.filter
  padding 60px 0
  background-color #273746
  clear fix

.options_title
.subscribe_title
  font-family Raleway
  color #fafcfc
  font-size 21px
  font-weight 400
  margin-bottom 20px

.filter_options
  width calc(66.66% - 10px)
  float left
  margin-right 20px

.options
  background-color #2C3E50
  border 3px solid #212F3D
  border-radius 3px

  width calc(50% - 20px)
  float left

  & + .options
    margin-left 20px

.option_title
  font-family Raleway
  color yel
  font-size 16px
  font-weight 700
  text-transform uppercase
  text-align center
  background-color #212F3D
  height 40px
  line-height 40px

.option_items
  padding 20px

.option_item:not(:last-child)
  margin-bottom 10px
