footer
  text-align center
  background-color #212f3d
  padding 50px 0
  z-index 1
  position relative

.copyright
  text-transform uppercase
  margin-right 10px
  font-family Raleway
  color #95a5a6
  font-size 18px
  font-weight 700

.facebook
  margin-right 5px
