.movie_modal
  max-width 720px
  background-color #34495e

  .share
    margin-top 1em
    text-align right

  .movie_title
    font-size 24px
    white-space normal
    line-height 1.25

  .movie_updates
    margin-bottom 20px

.movie_poster_big
  min-width 244px
  height 364px
  background-color #212f3d
  border 2px solid #fff
  box-shadow 0 0 5px #17202a
  position relative

.movie_details
  padding-left 20px
  font-size 14px
  width 100%

  p
    color #ABB2B9

.long_description
  margin-top 16px
  font-size 14px
  color #ABB2B9

.buy
  display inline-block
  cursor pointer
  height 40px
  line-height 40px
  padding 0 20px
  text-transform uppercase
  border-radius 3px
  background-color yel
  font-size 14px
  color #273746
  font-weight 700
  border-bottom 2px solid yel - 50%

  &:hover
    background-color yel + 20%
  &:active
    background-color yel - 20%
    border-bottom none
    border-top 2px solid yel - 70%

.movie_information
  margin-bottom 20px
  span + span
    margin-left 10px
    padding-left 10px
    border-left 2px solid #2c3e50
