.filter_subscribe
  margin-bottom 20px
  margin-top 30px

.subscribe_title
.subscribe_desc
  margin-bottom 10px

.subscribe_desc
  color #abb2b9

.sub_email
  display block
  padding 0 20px
  border-radius 3px
  background-color #212f3d
  height 50px
  width 100%
  margin-bottom 20px
  font-size 18px
  color #D5D8DC

  &:focus
  &:active
    background-color #17202a

  &::placeholder
    color #566573

.sub_submit
  cursor pointer
  height 40px
  padding 0 20px
  text-transform uppercase
  border-radius 3px
  background-color yel
  font-size 14px
  color #273746
  font-weight 700
  border-bottom 2px solid yel - 50%

  &:hover
    background-color yel + 20%
  &:active
    background-color yel - 20%
    border-bottom none
    border-top 2px solid yel - 70%
