header
  background-color #212f3d
  position fixed
  left 0
  top 0
  width 100%
  z-index 1

.top_bar
  min-height 50px
  display flex
  justify-content space-between
  align-items center
  padding 0 10px

.logo
  font-family 'Raleway', sans-serif
  font-size 17px
  font-weight 700
  text-transform uppercase
  color #fafcfc
  line-height 50px

.filter_trigger
  display none
  padding 0
  margin-right 10px
  margin-top -1px
  font-weight 700
  vertical-align middle
  color #2C3E50
  line-height 18px
  background-color transparent

  .cross
    display none
    vertical-align inherit

.filter_trigger.open

  .cross
    display inline

  .funnel
    display none

.trigger_img
  vertical-align bottom
