header
  background-color #fff

.top_bar
  min-height 80px
  display flex
  justify-content space-between
  align-items center
  padding 0 10px

.logo
  font-family 'Raleway', sans-serif
  color #95a5a6
  font-size 17px
  font-weight 700
  text-transform uppercase
  text-transform uppercase

.filter_trigger
  font-weight 700
  color #2C3E50
  line-height 18px
  background-color transparent

  .cross
    display none
    vertical-align inherit

.filter_trigger.open

  .cross
    display inline

  .funnel
    display none

.trigger_img
  vertical-align bottom
