.btn
  display inline-block
  cursor pointer
  height 40px
  line-height 40px
  padding 0 20px
  text-transform uppercase
  border-radius 3px
  font-size 12px
  font-weight 700
  border-bottom 2px solid rgba(0,0,0,.5)
  font-family Roboto

  &:active
    border-bottom none
    border-top 2px solid rgba(0,0,0,.75)


.yel_btn
  background-color yel
  color #273746

  &:hover
    background-color yel + 20%

  &:active
    background-color yel - 20%
